<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="KL.KL" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="KL" android:hardwareAccelerated="false" android:largeHeap="true" android:theme="@style/MyTheme" android:icon="@drawable/Icon">
		<!--No title bar  using this android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
	</application>
</manifest>